/* (priority 3) external css */

/* ****************TAG SELECTER*************** */

body
{
  background-color: #fbe2e5;
}

h1
{
  color: teal;
}

h3
{
  color: teal;
}

h3:hover
{
  color: black;
}

hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  /* width: 5%; */
}

.Hobbies:hover
{
  background-color: cornsilk;
}

.Contact:hover
{
  background-color: cornsilk;
}

/* ****************CLASS SELECTER*************** */

.Hobbies
{
  background-color: gray;
  padding: 0 5px 0 5px;
  margin: 0 0 0 15px;
}

.Contact
{
  background-color: gray;
}

.circle
{
  border-radius: 100%;
}

/* ****************ID SELECTER*************** */

#header
{
  color: #ffaa71;
}
